@import "../base.css";

input,
button,
select,
textarea {
  font-family: inherit;
  color: inherit;
}

input {
  accent-color: var(--fg2);
}

input,
textarea {
  border: 2px solid var(--bg);
  border-radius: 3px;
  font-size: 1rem;
  padding: 0.25rem 0.3rem;

  &:focus {
    outline-color: var(--fg3);
  }
}

a {
  text-decoration: none;
  color: var(--blue);

  &:hover {
    text-decoration: underline;
  }
}

textarea {
  width: 30ch;
  aspect-ratio: 4/1;
}

input[type="checkbox"] {
  width: 1rem;
  aspect-ratio: 1;
}

select {
  font-size: 1rem;
  border: 2px solid var(--bg);
  border-radius: 3px;
  padding: 0.5rem;
}

button.button {
  padding: 0.4rem 2rem;
  font-size: 1rem;
  cursor: pointer;
  display: block;
  margin-top: 1rem;
  border-radius: 3px;
  border: 2px solid var(--fg2);
  background: var(--fg2);
  color: var(--bg2);

  &:hover,
  &:focus {
    background: var(--bg);
    border: 2px solid var(--bg3);
    color: var(--fg);
  }

  &:active {
    transform: scale(1.05);
  }
}

span.error {
  color: var(--red);
  font-size: 0.9rem;
}

span.success {
  color: var(--green);
  font-size: 0.9rem;
}

span.info {
  color: var(--fg3);
  font-size: 0.9rem;
}

body {
  display: flex;

  aside:has(.app-nav) {
    flex: 1;
    background: var(--bg2);
    padding: 1rem 1.5rem;

    h1 {
      font-size: 1.8rem;
      font-family: "Podkova";

      display: flex;
      justify-content: space-between;

      div:first-child {
        display: flex;
        align-items: center;
        gap: 8px;
        margin-bottom: 0;

        img {
          aspect-ratio: 1;
          width: 2.5rem;
        }
      }

      .hamburger-menu {
        display: none;
      }
    }

    a {
      color: var(--fg);
      text-decoration: none;
      padding: 0.75rem 0.5rem;
      border-radius: 7px;
      display: flex;
      align-items: center;
      gap: 0.5rem;

      svg {
        fill: var(--bg3);
        width: 1.75rem;
      }

      &:hover {
        background: var(--bg);
      }

      &.active {
        background: var(--bg);
      }

      &:link,
      &:visited,
      &:hover,
      &:active {
        color: var(--fg);
        text-decoration: none;
      }

      & + & {
        margin-top: 0.3rem;
      }
    }

    hr {
      margin: 1rem 0;
      border: none;
      height: 3px;
      background: var(--bg);
    }
  }

  main {
    flex: 6;
    padding: 2rem;
    height: 100vh;
    overflow: auto;

    .section {
      padding: 1.5rem 2rem;
      border-radius: 8px;
      background: var(--bg2);
      margin-bottom: 1rem;

      > *:first-child {
        margin-top: 0.5rem;
      }
    }
  }
}

dialog {
  border: 2px solid var(--fg3);
  border-radius: 5px;
  padding: 1.5rem;

  form {
    display: flex;
    flex-direction: column;

    h3 {
      margin-top: 0;
      margin-bottom: 0.5rem;
      text-align: center;
    }

    .actions {
      display: flex;
      justify-content: center;
      gap: 0.5rem;
    }
  }
}

@media only screen and (width <= 700px) {
  body {
    flex-direction: column;

    aside:has(.app-nav) {
      position: relative;

      h1 {
        margin-top: 0;
        margin-bottom: 0;

        .hamburger-menu {
          display: initial;
          padding: 0;
          background: none;
          border: none;
          cursor: pointer;

          > svg {
            width: 2.25rem;
            aspect-ratio: 1;
            fill: var(--fg3);
          }
        }
      }

      .extended-nav {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        z-index: 100;
        background: var(--bg2);
        padding: 1rem;
        padding-top: 0;
      }

      .extended-nav.active {
        display: initial;
      }

      &:has(.extended-nav.active) {
        padding-bottom: 0;
      }
    }

    main {
      padding: 0.5rem;

      section.section {
        margin-bottom: 0.5rem;

        input[type="text"],
        input[type="search"],
        input[type="password"],
        select,
        textarea {
          width: 100%;
        }
      }
    }
  }
}
