@import "main.css";

.container {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));

  .card {
    padding: 1rem;
    border-radius: 6px;
    background: var(--bg);
    border-left: 3px solid var(--fg2);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0.3rem;

    transition: transform 0.3s;

    &:hover {
      transform: scale(1.05);
    }

    p.title {
      margin: 0;
      font-weight: 500;
      display: flex;
      justify-content: space-between;

      span.count,
      span.likes {
        color: var(--fg2);
        font-weight: normal;
        padding-left: 3px;
      }

      span.likes {
        display: flex;
        gap: 0.25rem;
        align-items: center;

        svg {
          width: 1.25em;
          aspect-ratio: 1;
          fill: var(--fg2);
        }
      }
    }

    p.description {
      font-size: 0.95rem;
      color: var(--fg2);
      margin-top: 0.75rem;
    }

    p.owner {
      font-size: 0.85rem;
      color: var(--fg2);
      padding: 0;
      margin: 0;
    }

    form {
      width: 100%;
    }

    button {
      width: 100%;
      font-size: 0.9rem;
      margin-top: 0.75rem;
    }
  }
}

.search {
  display: flex;
  gap: 0.5rem;

  button:has(> svg) {
    border: 0;
    border-radius: 3px;
    background: var(--fg2);
    cursor: pointer;
    fill: var(--bg2);

    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      background: var(--bg);
      fill: var(--fg2);
      outline: 2px solid var(--bg3);
    }

    &:active {
      transform: scale(1.05);
    }
  }
}

dialog {
  text-align: center;

  h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;

    button {
      background: none;
      border: none;
      cursor: pointer;

      &:focus-visible {
        outline: none;
      }

      svg {
        aspect-ratio: 1;
        width: 1.75rem;
        fill: var(--bg2);
        stroke: var(--fg2);
        stroke-width: 1.5px;

        &:hover {
          transform: scale(1.1);
          stroke-width: 2px;
        }

        &.liked {
          fill: var(--red);
        }
      }
    }
  }

  .count {
    color: var(--fg2);
  }

  .published,
  .likes {
    font-size: 0.9rem;
  }

  .actions {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
  }
}

table.metadata {
  width: initial;
  margin: auto;
  margin-bottom: 1rem;

  td:first-child {
    font-size: 0.9rem;
  }
}

table {
  margin-top: 2rem;
  width: 100%;
  border-collapse: collapse;
  text-align: left;

  th,
  td {
    border: 2px solid var(--bg);
    padding: 0.5rem;
  }

  td {
    font-size: 0.95rem;
  }

  button {
    font-size: 0.9rem;
    margin-top: 0;
    display: inline;
  }
}

@media only screen and (width <= 700px) {
  dialog[open] {
    width: 100%;
  }
}
