@import "main.css";

body {
  height: 100%;
}

main {
  section.section {
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 0;

    > .back {
      align-self: end;
      margin-top: 0;

      > svg {
        height: 2rem;
      }
    }

    > div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 80%;
    }
  }
}

button.show-ans.hide {
  display: none;
}

div.ans {
  display: none;
}

div.ans.show {
  display: flex;
  flex-direction: column;
  align-items: center;
}

div.actions {
  display: flex;
  gap: 1rem;
}
