@import "main.css";

body {
  height: 100%;
}

main {
  section.section {
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 0;

    > .back {
      align-self: end;
      margin-top: 0;

      > svg {
        height: 2rem;
      }
    }

    > div {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 30vh;
      height: 80%;

      .qn {
        font-size: 1.1rem;
      }

      .ans > p {
        font-weight: 500;
      }
    }
  }
}

button.show-ans.hide {
  display: none;
}

div.ans {
  display: none;
}

div.ans.show {
  display: flex;
  flex-direction: column;
  align-items: center;
}

div.actions {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

@media only screen and (width <= 700px) {
  body {
    height: 100vh;

    main section.section {
      margin-bottom: 0;
    }
  }
}
