@import "base.css";

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

main {
  background: var(--bg2);
  padding: 2rem 3rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  margin-bottom: 0;
}

h2 + p,
span[class="error"] {
  font-size: 0.9rem;
  color: var(--fg2);

  a {
    text-decoration: none;
    color: var(--blue);

    &:hover {
      text-decoration: underline;
    }
  }
}

span[class="error"] {
  color: red;
  margin-bottom: 1rem;
}

img {
  width: 80px;
  aspect-ratio: 1;
}

label {
  display: block;
  font-size: 0.95rem;
}

input {
  background: var(--bg2);
  border: 2px solid var(--bg);
  border-radius: 5px;
  height: 2.25rem;
  color: var(--fg);
  padding-left: 0.5rem;
  font-size: 1rem;
  margin-bottom: 1rem;
}

input:focus {
  outline: none;
  border: 2px solid var(--green);
}

input:invalid:focus {
  border: 2px solid var(--red);
}

button {
  display: block;
  font-size: 1rem;
  background: var(--fg2);
  color: var(--bg);
  border: 2px solid var(--fg2);
  border-radius: 5px;
  padding: 0.5rem 1.25rem;
  cursor: pointer;
  margin: 0.5rem auto;
}

button:hover {
  background: var(--bg2);
  color: var(--fg);
  transition: 0.3s;
}

button:active {
  transform: scale(1.05);
}

@media only screen and (width <= 700px) {
  main {
    width: 90%;

    form {
      width: 100%;

      input {
        width: 100%;
      }
    }
  }
}
